apiVersion: v1
kind: Secret
metadata:
  name: {{ include "resource.default.name" $ }}-kubevip-pod
  labels:
    {{- include "labels.common" . | nindent 4 }}
stringData:
  content: |
    apiVersion: v1
    kind: Pod
    metadata:
      name: kube-vip
      namespace: kube-system
    spec:
      containers:
      - args:
        - manager
        env:
        - name: cp_enable
          value: "true"
        - name: svc_enable
          value: "false"
        - name: prometheus_server
          value: ":2113"
        - name: vip_arp
          value: "true"
        - name: vip_leaderelection
          value: "true"
        - name: vip_address
          value: {{ .Values.connectivity.network.controlPlaneEndpoint.host }}
        - name: vip_interface
          value: ens192
        - name: vip_leaseduration
          value: "15"
        - name: vip_renewdeadline
          value: "10"
        - name: vip_retryperiod
          value: "2"
        image: docker.io/giantswarm/kube-vip:v0.6.4
        imagePullPolicy: IfNotPresent
        name: kube-vip
        resources: {}
        securityContext:
          capabilities:
            add:
            - NET_ADMIN
            - SYS_TIME
        volumeMounts:
        - mountPath: /etc/kubernetes/admin.conf
          name: kubeconfig
      hostAliases:
      - hostnames:
        - kubernetes
        ip: 127.0.0.1
      hostNetwork: true
      volumes:
      - hostPath:
          path: /etc/kubernetes/admin.conf
          type: FileOrCreate
        name: kubeconfig
    status: {}
